<div class="row">
    <div class="col-8 title">
        <h3>Pikapuraisin</h3>
        <h4><%= realName %>, vanha Homo Sapiens! </h4>
        <ul>
            <% if (lastBite) {%>
                <li><b>Viime puraisu:</b> <%= lastBite %></li>
            <% } %>
            <% if (currentPct > 0) { %>
                <li><b>Promillemäärä:</b> <%= currentPct %> ‰</li>
                <li><b>Selviämisarvio:</b> <%= timeTillSober %></li>
            <% } %>
        </ul>
    </div>
    <div class="col-4 user-info">
        <img src="<%= avatar %>" title="<%= realName %>"/><br/>
        <a class="btn btn-warning btn-sm" href="/logout">Kirjaudu ulos</a>
    </div>
</div>