<div class="row">
    <div class="col-8 title">
        <h3>Pikapuraisin</h3>
        <h4><%= realName %>, vanha Homo Sapiens! </h4>
        <h4>
        <% if (currentPct > 0) { %>
            Ränni on päällä. Promillemääräsi on <%= currentPct %> ‰.
            Selvänä olet taas <%= timeTillSober %> päästä.
        <% } else { %>
            Ränni on katki. Puraisit viimeksi <%= lastBite %>.
        <% } %>
        </h4>
    </div>
    <div class="col-4 user-info">
        <img src="<%= avatar %>" title="<%= realName %>"/><br/>
        <a class="btn btn-warning btn-sm" href="/logout">Kirjaudu ulos</a>
    </div>
</div>