<!doctype html>
<html lang="fi">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
      DISABLED FOR NOW. OAUTH2 NOT WORKING. MUST TEST IN ANDROID AND WAIT FOR APPLE TO GET THEIR STUFF TOGETHER IN THE FIRST PLACE
      STEVE, HELP US!
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">-->
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <title>Pikapuraisin</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic');
    </style>
    <%- styles %>
    <script>
      window.__APPINFO__ = <%- appInfo %>
      window.__USERSTATUS__ = <%- userStatus %>
    </script>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script src="<%- bundle %>" type="module" defer></script>
  </body>
</html>
