<!doctype html>
<html lang="fi">
  <head>
    <title>Pikapuraisin</title>
    <%- include('meta'); %>
    <%- styles %>
    <script type="module">
      import app from "<%- bundle %>";


      const appInfo = <%- appInfo %>;
      const userStatus = <%- userStatus %>;

      app(userStatus, appInfo);
    </script>
  </head>
  <body>
    <div id="app"><%- html %></div>
  </body>
</html>
