<!doctype html>
<html lang="fi">
  <head>
    <title>Pikapuraisin</title>
    <%- include('meta'); %>
    <%- styles %>
    <script>
      window.__APPINFO__ = <%- appInfo %>
      window.__USERSTATUS__ = <%- userStatus %>
    </script>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script src="<%- bundle %>" type="module" defer></script>
  </body>
</html>
